# Export from source system
EXP:1
TRUNC:0
LOADPGSQL:0
REMAP:0
UNLOADPGSQL:0
UPS:0
EXPMAP:0

BULKAPI:false
BATCHSIZE:2500
#LIMIT:LIMIT 1000


# Label for the job that will be displayed
JOBDESC:Migrate Approval templates

#The object we're dealing with (as in the local database)
#Will most likely be the same as the Entity in SF (so e.g. Contact_Network_Member__c)
OBJECT:DA_approval_template__c

#The SF object we're dealing with (as in the SF org) with any __c needed
ENTITY:DA_approval_template__c

# The file where data exported from source org will be placed
FILENAME:\temp\DA_approval_template__c.csv

EXTERNALID:Import_reference__c

# The SOQL that will be used to run the extraction from source org to populate FILENAME (must contain the same fields, no more no less, as FIELDSTRING)
SOQL:SELECT Deal_type_mapping__c,Description__c,End_of_process_action__c,End_of_process_parameters__c,Id,Import_Reference__c,Name,On_demand_approval__c,Recordtype_mapping__c,Text_stub__c FROM DA_approval_template__c WHERE Name <> 'Test template' AND Name <> 'Test'

# The mapping file required by the Apex Data Loader for insert/upsert operations
SFMAPPINGFILE:..\..\Spotify\migration\step01\DA_approval_template__c.sdl
#SFMAPPINGFILE:DA_approval_template__c.sdl

# Whether to try to generate a mapping file automatically
# GENERATEMAPPINGFILE:1
