# Sample.config

# Export from source system
CMDBEFORE:0
EXP:0
TRUNC:0
LOADPGSQL:0
REMAP:0
UNLOADPGSQL:0
IMP:0
EXPMAP:0
CMDAFTER:0

BULKAPI:true
BATCHSIZE:2500
#LIMIT:LIMIT 1000


# Label for the job that will be displayed
JOBDESC:Process Accounts (Bare minimum person accounts)

#The object we're dealing with (as in the local database)
#Will most likely be the same as the Entity in SF (so e.g. Contact_Network_Member__c)
OBJECT:account

#The SF object we're dealing with (as in the SF org) with any __c needed
ENTITY:Account

# The file where data exported from source org will be placed
FILENAME:%BASEFILEDIR%account\account_bare_person.csv

#Fields that will be extracted from source org and loaded into local database
FIELDSTRING:Id, personcontactid, recordtypeid, movex__c, ownerid, firstname, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate, lastname

#Fields that will be extracted from local database and put into export file (if not provided, FIELDSTRING will be used)
FIELDSTRINGEXPORT:Id, personcontactid, recordtypeid, movex__c, ownerid, firstname, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate, lastname

# The SOQL that will be used to run the extraction from source org to populate FILENAME (must contain the same fields, no more no less, as FIELDSTRING)
SOQL:SELECT Id, personcontactid, recordtypeid, movex__c, ownerid, firstname, createdbyid, createddate, lastmodifiedbyid, lastmodifieddate, lastname FROM Account  WHERE ispersonaccount IN (true) ORDER BY id
UNLOADWHERE:where ownerid in (select wellspectid from mapping_master) and createdbyid in (select wellspectid from mapping_master) and lastmodifiedbyid in (select wellspectid from mapping_master) and recordtypeid in (select wellspectid from mapping_master)

# the fields (which must be present in FIELDSTRING and SOQL) that will be remapped to new IDs using the mapping table in the local database
FIELDSTOREMAP:recordtypeid createdbyid lastmodifiedbyid ownerid

# The file where remapped data exported from the local db will be placed to be loaded into target org
MAPPEDFILENAME:%BASEFILEDIR%account\account_bare_person_remapped.csv


# The mapping file required by the Apex Data Loader for insert/upsert operations
SFMAPPINGFILE:account_import.sdl

# The name of the field used as the external ID field by the data loader for updates and upserts
EXTERNALID=Id


# The SOQL that will be used to extract mapping data (Id, OldId__c, a label field for convenience) from the target org
# E.g. the MAPPINGSOQL=SELECT Id, oldid__c, name FROM account would generate entries like oldid# 0012000001ALLIa Id# 0012000001xaCxb tablekey# account_Jack Papadakis DDS
# in the mapping table in the database. The name field (third item in SELECT list need not be unique, but must be provided)
MAPPINGSOQL:SELECT Id, oldid__c, name FROM account

# The file which will be populated from the target org using the MAPPINGSOQL
OLDNEWIDFILENAME:%BASEFILEDIR%contact\account_mapping.csv

# command before
# These batch commands are executed at the beginning and end of a config file's execution
# will kill the batch script if there are syntax errors, etc.
BEFCMD: echo "This is the command before"
AFTCMD: echo "And this is the command after"

# Abort on load errors
# aborts further execution (stops the batch script) if the error.csv file resulting from an IMP, UPS, UPD contains more than 1 line
# (The first line is always headers so can be safely ignored)
ABORTONERROR:1

# Run a batch command specified in BEFCMD parameter
#CMDBEFORE:1
# Export from source system
# Uses OBJECT, ENTITY, SOQL, FILENAME
# Generates/overwrites FILENAME using SOQL
#EXP:1
#
# Truncate table in local database
# Uses OBJECT
#TRUNC:1
#
# Load into table in local database
# Uses OBJECT, FIELDSTRING, FILENAME
# Reads FILENAME
#LOADPGSQL:1
#
# Do any remaps required in local database
# Uses OBJECT, FIELDSTOREMAP
#REMAP:1
#
# Unload from table in local database to file
# Uses OBJECT, FIELDSTRING, MAPPEDFILENAME
# generates MAPPEDFILENAME
#UNLOADPGSQL:1
#
# Import into target system
# Uses OBJECT, ENTITY, SFMAPPINGFILE, MAPPEDFILENAME
# Loads MAPPEDFILENAME
#IMP:1
#
# Export mapping from target system into local database
# Uses OBJECT, ENTITY, MAPPINGSOQL, OLDNEWIDFILENAME
# Uses MAPPINGSOQL to generate OLDNEWIDFILENAME, then loads/updates it into mapping table in local database
#EXPMAP:0
# Run a batch command specified in AFTCMD parameter
#CMDAFTER:1
